.input {
  margin-right: 0.8rem;
}

.button {
  background-color: #ccc;
  border: none;
  transition: all 0.3s ease-in;
}
.button:hover {
  background-color: black;
  color: #ccc;
}
.button:active {
  transform: scale(0.8);
}
.button,
.input {
  padding: 0.5rem 1rem;
}
