@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  box-sizing: border-box;
}
body {
  width: 100%;
  /* overflow-x: hidden; */
  margin: 5px;
}
.App {
  /* font-family: sans-serif; */
  /* text-align: center; */
  font-family: "Fira Sans", sans-serif;
  /* font-family: "Montserrat", sans-serif; */
  /* letter-spacing: 1px; */
  width: 100%;
  display: grid;
  justify-items: center;
}
